{{#each layouts as |layout|}}

  <section class="layout">
    <h4><small>Name: </small>{{layout.layout_name}}</h4>
    <h5><small>Template: </small>{{layout.template.name}}</h5>
    <h5><small>Sections: </small>{{layout.sections.length}}</h5>
    <button class="btn btn-secondary" data-id="{{layout.id}}">Open</button>
  </section>

{{/each}}
