<div class="resume-list">
  <header class="row">
    <div class="col-md-4">Resume Name</div>
    <div class="col-md-2">Format</div>
    <div class="col"></div>
  </header>
  {{#each resumes as |resume|}}
  <section class="resume row" data-id="{{resume.id}}">
    <div class="col-md-4">
      {{resume.name}}
    </div>
    <div class="col-md-2">
      <small>{{resume.format}}</small>
    </div>
    <div class="col">
      <button class="btn btn-outline-primary open-resume" data-id="{{resume.id}}">Open</button>
    </div>
  </section>
  {{/each}}
</div>
