@import '~bootstrap/scss/bootstrap';
@import 'layout';


.todo {
  background-color: #000;
  color: #0ff;
  font-family: monospace;
  &:before {
    content: 'TODO: ';
  }
}

.resume-view .resume-content {
  background-color: #eee;
  border: thin solid #666;
  border-radius: 3px;
  padding: 2px;
  max-width: 600px;
  min-height: 400px;
  overflow: auto;
}

nav .button-group .button-group {
  display: none;
}
