/* Layout */

body {
  background-color: #900;
}

.container {
  // display: flex;
  // flex-direction: row;
}

.grid {
  margin: 5px auto;
  background: none;
}

.panel-wrapper {
  padding: 0 2px;
  min-height: 160px;
}

.panel {
  background-color: #e5e5e5;
  margin: 10px auto;
  border: inset thin #999;
  border-radius: 5px;
  padding: 5px;
  height: 100%;
  width: 98%;
}

header {
  text-align: center;
  margin: 20px auto;

  .title-image {
    height: 15vh;
  }
}

#titlePanel .logo {
  width: 70px;
  margin-right: 5px;
  border: thin gray inset;
  border-radius: 2px;
}

main {
  margin: 0 10%;
}

#displayPanel {
  min-height: 400px;
}

.resume-list section.resume {
  margin: 3px auto;
}

.resume-view .resume-content {
  background-color: #eee;
  border: thin solid #666;
  border-radius: 3px;
  padding: 2px;
  max-width: 600px;
  min-height: 400px;
  overflow: auto;
}

nav {
  background-color: #dedede;
  border: thin solid #cdcdcd;
  border-radius: 3px;
  padding: 2%;
  text-align: center;

  button {
    margin: 5px 0;
    width: 80%;
  }
}

button.form-control {
  margin-top: 2px;
  margin-bottom: 2px;
}
